.bloque2 {
    display: flex;
    justify-content: space-evenly;
  }

.visitavirtual {display: block;
    width: 35vh;
    border: 1px solid #b5b5b5;;
    background-color: transparent;
}

.ocasion 
{display: block;
    width: 35vh;
    border: 1px solid #b5b5b5;;
    background-color: transparent;

}

.cita {display: block;
    width: 35vh;
    border: 1px solid#b5b5b5;;
    background-color: transparent;
}

.nuevos{display: block;
    width: 35vh;
    border: 1px solid#b5b5b5;
    background-color: transparent;
}

.bloque2 img {width: 95%;
    height: 40%;
    margin-top: 6px;
    margin-left: 5px;
}

.bloque2 p {font-size: 14px;

}

.bloque2 a { text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;

}